// navbar
.navbar-inverse {
  background-color: $brand-green !important;
  .navbar-collapse {
    background-color: white;
  }

  .navbar-nav {
    li:not(.divider) {
      background-color: white !important;
      font-weight: 500;
    }
  }

  .navbar-brand {
    color: white !important;
    font-weight: bold;
  }
}
