@mixin btn-pink {
  background-color: $brand-pink;
  color: white;

  &:hover {
    background-color: darken($brand-pink, 3%);
    color: white;
  }
}

@mixin abbreviation {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.app-container {
  padding: 10px;
}
.app-header {
  background-color: $gray-light;
  color: $gray-dark;
  height: 80px;

  .app-title {
    font-weight: bold;
    @include abbreviation;
  }

  .app-release, .app-publisher, .app-reserved {
    font-size: 10px;
    @include abbreviation;
  }

  .app-header-icon-container {
    float: left;
    width: 20%;
    .app-icon {
      max-width: 60px;
    }
  }

  .app-info {
    float: right;
    width: 75%;
  }
}

.app-ss-wrapper {
  margin-top: 5px;
  margin-bottom: 0px;

  #effects {
    margin-bottom: 15px;
    height: 250px;
  }

  li {
    background: transparent !important;
    max-width: 250px;
  }

  .app-screen-shot {
    height: 250px;
  }
}

.app-video-container {
  background-color: $gray-dark;
  text-align: center;
  padding: 10px;
  iframe {
   height: 225px;
   width: 300px;
  }
}

.app-description-container {
  padding: 10px;
  font-size: 10px;
  background-color: $gray-dark;
  color: white;
  overflow: hidden;
  p {
    word-wrap: break-word;
  }
}

.check-bonus-btn {
  background-color: $brand-pink;
  color: white;
}

.bonus-info {
  height: 50px;
  margin-top: 1px;
  padding: 10px;
  background-color: $gray-light;

  .bonus-rest-text {
    font-size: 8px;
    line-height: 4.6;
  }

  .bonus-rest-num {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.8;
    color: $brand-pink;
  }

  .bonus-rest-text, .bonus-rest-num {
    float: left;
  }

  .check-bonus-btn {
    @include btn-pink;
    float: right;
  }
}

.reservation-info-container {
  margin-bottom: 3px;
  .reservation-btn {
    @include btn-pink;
    width: 100%;
    height: 50px;
    line-height: 1.9;
    font-weight: bold;
    font-size: 20px;
  }
}

.signin-btn-container {
  text-align: center;
  .zocial {
    width: 100%;
    margin: 10px;
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    text-shadow: none;
    text-decoration: none;

    &:hover {
      color: white;
      background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.1) , rgba(0,0,0,.1))
    }
  }
}
